body {
    background-image: url("../images/aquarium.jpg");
    background-size: cover;
}

img {
    position: fixed;
}

#fish1Id {
    left: 250px;
    top: 250px;
    width: 250px;
    height: 250px;
}

#fish2Id {
    left: 500px;
    top: 250px;
    width: 150px;
    height: 150px;
}

.bubbleClass {
    width: 100px;
    height: 100px;
}

#spongebob{
    width: 250px;
    height: 150px;
}

#shark {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 1000px;
    height: 1000px;
}

#nemo {
    width: 200px;
    height: 150px;
}

