/* Adam */
nav a {
  display: inline-block;
  color: #FF851B;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: 450ms;
  -webkit-transition: 450ms;
}

/* Adam */
nav a:hover {
  background-color: #FF851B;
  color: #001f3f ;
}

/* Adam */
nav a.active {
  background-color: #4CAF50;
  color: white;
}

/*Christian*/
#exam_types img{
  width: 20px;
}
/*Christian*/
#content{
  margin-top: 100px;
}

