/* Christian */
html{
  font-family: "Arial";
  font-size: 0.85em;
}

/* Adam */
header nav {
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: #001f3f;
}

/* Adam */
header nav a {
  display: inline-block;
  color: #FF851B;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  transition: 450ms;
  -webkit-transition: 450ms;
}

/* Christian */
.myPage{
  border-top: 5px solid #FF851B;
}

/* Adam */
header nav a:hover {
  background-color: #FF851B;
  color: #001f3f ;
}

/* Adam */
header nav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Adam */
#content{
  margin-top: 100px;
  padding: 70px;
  min-height: 500px;
  background-color: white;
}

/* Adam */
.content_box:nth-child(even):hover {
	background-color: lightsalmon;
}

/* Adam */
.content_box {
  margin: 10px;
  border-radius: 4px;
  padding: 20px;
  background-color: #EFEFEF;
  border-radius: 5px;
}

/* Adam */
.content_box:hover {
  background-color: #CCCCFF;
  transition: 450ms;
  -webkit-transition: 450ms;
}

/* Adam */
.content_box a {
  text-decoration: none; 
}

/* Adam */
.content_box ul {
	list-style: none
}

/* Adam */
.content_box ul li:before {
  content: "✓"; 
  font-size: 20px;
  color: green;
  display: inline-block; 
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-left: -20px;
}

/* Adam */
.content_box ul li:hover {
  transition: 450ms;
  -webkit-transition: 450ms;
  margin-left: 20px;
}

/* Adam */
.content_box a:hover {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  transition: 450ms;
  -webkit-transition: 450ms;
}

/* Adam */
.bookmark a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.bookmark li{
  margin-bottom: 15px;
}

/* Adam */
#return_to_top {
	z-index: 9999;
	background-color: #FF851B;
	border-radius: 10px;
	padding: 25px;
	bottom: 15px;
	right: 15px;
	position: fixed;
}

/* Adam */
#return_to_top:hover {
  transition: 450ms;
  -webkit-transition: 450ms;
  background-color: #CC3300;
}

/* Christian */
 h3{
   margin-bottom: 30px;
 }
/* Christian */
footer{
  background-color: #001F3F;
  color: lightgrey;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Christian */
footer article aside{
  font-size: small;
}

/* Christian */
footer a{
  text-decoration: none;
  color: lightgrey;
}

/* Christian */
#contact label{
  width: 50%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

/* Christian */
#contact input{
  margin-top: 8px;
  height: 35px;
  font-size: large;
  padding: 5px;
}

/* Christian */
#contact textarea{
  margin-top: 8px;
  height: 150px;
}

/* Christian */
.submit{
  margin-top: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 200ms;
  -webkit-transition: 200ms;
}

/* Christian */
.submit:hover{
  color: white;
  background-color: darkgreen;
}

/* Christian */
#contact{
  width: 90%;
  padding: 5%;
  margin: auto;
}

/* Christian */
#schedule table,#exam_types table{
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

/* Christian */
#schedule table td, #schedule table th, #exam_types table td, #exam_types table th{
  padding: 15px;
  border: 1px solid lightgrey;
  text-align: justify;
}

/* Christian */
#schedule tbody tr , #exam_types tbody tr{
  transition: 300ms;
}

/* Christian */
#schedule tbody tr:nth-child(even), #exam_types tbody tr:nth-child(even){
  background-color: #EFEFEF;
  transition: 300ms;
}

/* Christian */
#schedule tbody tr:nth-child(even):hover, #exam_types tbody tr:nth-child(even):hover{
  background-color: gray;
  font-weight: bold;
  color: white;
}

/* Christian */
#schedule tbody tr:hover, #exam_types tbody tr:hover{
  font-weight: bold;
  background-color: gray;
  color: white;
}

/* Christian */
#schedule h3, #exam_types h3{
  text-align: center;
}

/* Christian */
#schedule_nav{
  padding: 15px;
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  background-color: #EFEFEF;
  border-radius: 5px;
  margin-bottom: 100px;
}

/* Christian */
#schedule_nav a{
  display: inline-block;
  padding: 20px;
  width: 32%;
  text-align: center;
  text-decoration: none;
  font-size: large;
  color: #001f3f;
  border-bottom: 3px solid lightgrey;
  transition: 200ms;
  margin-left: 1%;
}

/* Christian */
#schedule_nav a:hover{
  color: #FF851B;
  border-bottom: 3px solid #FF851B;
}

/* Remi */
#exam_types table{
  text-align: center;
}

/* Remi */
#exam_types{
  margin-top: 130px;
}

/* Remi */
#exam_types img{
  width: 28px;
  height: 28px;
}

/* Remi */
#exam_types th{
  font-size:  16px;
}

/* Adrien */
#contentIndex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  text-align: justify;
}

/* Adrien */
 #articleIndex {
   width: 50%;
   min-width: 350px;
   padding: 20px;
   background-color: #EFEFEF;
}
/* Remi */
#audio_ms{
  position: center;
  padding-bottom: 50px;
}
/* Remi */
#audio_ms audio{
  padding-left: 620px;
}

/* Adrien */
#articleIndex img {
  width: 100%;
  height: 300px;
  display: inline-block;
}


/* Adrien */
#contentIndex aside {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Adrien */
#contentIndex aside div{
  background-color: #EFEFEF;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adrien */
#contentIndex aside table{
  width: 90%;
  text-align: justify;
  margin-top: 30px;

}

/* Adrien */
#contentIndex aside img {
  width: 400px;
  height: 200px;
}

/* Adam */
nav img {
  width: 20px;
}

/* Christian */
#creator_images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/* Christian */
#creator_images a{
  display: inline-block;
  text-decoration: none;
  color: #FF851B;
}
/* Christian */
#creator_images img{
  width: 100px;
  height: 100px;
  border: 2px solid #001f3f;
  border-radius: 50% 50%;
  transition: 200ms;
  -webkit-transition: 200ms;
}
/* Christian */
#creator_images img:hover{
  border-color: #FF851B;
}